.navigation__signin-link {
color: var(--pristine-white);
background-color: var(--charcoal-black);
padding: 8px 20px;
border-radius: 6px;
text-decoration: none;
margin: 0;
transition: opacity .3s linear;
}

.navigation__signin-link:hover {
  opacity: 0.8;
  }

.navigation__signup-link {
  color: var(--charcoal-black);
  padding: 8px 20px;
  text-decoration: none;
  margin: 0;
  transition: opacity .3s linear;
}

.navigation__signup-link:hover {
  opacity: 0.7;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation__profile {
text-decoration: none;
font-weight: 500;
color: var(--charcoal-black);
display: flex;
align-items: center;
gap: 13px;
transition: opacity .3s linear;
}

.navigation__movies {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right:50px;
}

.navigation__movies-link {
  text-decoration: none;
  color: var(--charcoal-black);
  transition: opacity .3s linear;
}

.navigation__movies-link_active {
  text-decoration: none;
  color: var(--charcoal-black);
  font-weight: 500;
}

.navigation__movies-link:hover {
  opacity: 0.7;
}

.navigation__profile-picture {
  width: 30px;
  height: 30px;
  background-color: var(--charcoal-black);
  border-radius: 3px;
  background-image: url(../../images/profilepink.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s linear;
  margin: 0;
}


.navigation__profile-picture:hover {
  opacity: 0.7;
}

.navigation__profile:hover {
  opacity: 0.7;
}

.navigation__profile-picture_theme_white {
  background-color: var(--silver-gray);
  background-image: url(../../images/profileblack.svg);
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s linear;
  margin: 0;
}

.navigation__burger {
  background: none;
  background-image: url('../../images/burger.svg');
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  display: none;
}


@media screen and (max-width: 890px) {
  .navigation__movies-link_active {
    border-bottom: 1px solid var(--charcoal-black);
  }
}


@media screen and (max-width: 700px) {
  .navigation__signup-link {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .navigation__signin-link {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 7px 12px;
  }
  }

  @media screen and (max-width: 700px) {
    .navigation__movies,
    .navigation__profile {
      display: none;
    }
    .navigation__burger {
      display: block;
    }
  }