.card {
  max-width: 360px;
  position: relative;
}
.card__image {
  width: 100%;
  height: 201px;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  object-fit: cover;
  object-position: center center;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 14px 14px 0;
}

.card__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  display: block;
  border-radius: 3px;
  background-color: #f9f9f9;
  font-weight: 400;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  color: #a0a0a0;
  padding: 3px 4px;
}

.card__button {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  color: #000000;
  padding: 6px 10px;
  cursor: pointer;
  visibility: hidden;
}

.card:hover .card__button {
  visibility: visible;
}

.card__button_saved {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 21px;
  height: 21px;
  background-image: url('../../../images/saved.svg');
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.card__button_delete {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 21px;
  height: 21px;
  background-image: url('../../../images/delete.svg');
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  visibility: hidden;
}

.card:hover .card__button_delete {
  visibility: visible;
}

@media screen and (max-width: 890px) {
  .card {
    width: 339px;
  }
  .card__image {
    width: 100%;
    height: 190px;
  }
  .card__description {
    padding: 25px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 300px;
  }
  .card__image {
    width: 300px;
    height: 168px;
  }
  .card__description {
    padding-top: 16px;
  }
  .card__name {
    font-size: 12px;
    line-height: 15px;
  }
}